.container-sign,
.container-signup {
    width: 60%;
    height: 500px;
    margin-top: 8%;
    background-color: white;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0px 1.9px rgba(0, 0, 0, 0.085), 0 0px 15px rgba(0, 0, 0, 0.17);

    @extend .grid-default;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: $mobile) {
        width: 90%;
    }
}

.container-sign {
    .sign-block-1 {
        height: 100%;

        display: grid;
        align-content: center;

        @media only screen and (max-width: $mobile) {
            grid-column: span 2;
        }

        #logo {
            margin-bottom: 40px;
        }

        form {
            @extend .grid-default;

            input {
                font-family: "Montserrat", sans-serif;
            }

            p {
                width: 100%;
            }

            label {
                padding-left: 20px;
                color: gray;
                font-size: 0.8rem;
            }

            #email {
                margin-top: 10px;
                height: 35px;
                width: 85%;
            }

            #password {
                margin-top: 10px;
                height: 35px;
                width: 85%;
            }

            #forgot-pass {
                font-size: 0.8rem;
                text-align: center;

                & > a {
                    color: gray;
                }
            }

            .btn-form-login {
                background-color: $primary;
                box-shadow: 0 0px 0.9px rgba(0, 0, 0, 0.13),
                    0 0px 7px rgba(0, 0, 0, 0.26);
                border: none;
                color: white;
                font-weight: 100;
            }
        }

        // .form-divider {
        //     margin-top: 25px;
        //     width: 100%;

        //     display: grid;
        //     align-items: center;
        //     gap: 8px;
        //     grid-template-columns: 0.7fr 1fr 0.7fr;

        //     .form-divider-line {
        //         background-color: rgb(151, 151, 151);
        //         height: 1px;
        //     }

        //     .form-divider-text {
        //         color: rgb(151, 151, 151);
        //         text-align: center;
        //         font-size: 0.6rem;
        //     }
        // }

        // .form-social-btns {
        //     margin-top: 15px;

        //     @extend .grid-default;
        //     grid-template-columns: 0.5fr 0.5fr;

        //     .btn-facebook,
        //     .btn-google {
        //         border: none;
        //         font-size: 0.7rem;
        //         color: white;
        //         font-family: "Montserrat", sans-serif;
        //     }

        //     .btn-facebook {
        //         background-color: #4b5ed9;

        //         .icon-facebook {
        //             margin-right: 2px;
        //         }
        //     }

        //     .btn-google {
        //         background-color: #ef5151;

        //         .icon-google {
        //             margin-right: 5px;
        //         }
        //     }
        // }
    }

    .sign-block-2 {
        @media only screen and (max-width: $mobile) {
            display: none;
        }

        width: 100%;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px;
        border: none;
        height: inherit;
        background-color: #5d7589;
        background-image: linear-gradient(0deg, #5d7589 50%, #f9a826 120%);
        justify-items: center;
        color: white;

        display: grid;
        gap: 0;

        h1 {
            text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1);
            font-weight: 700;
            font-size: 3.5rem;
        }

        img {
            width: 50%;
        }

        p {
            font-size: 1.2rem;
            text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1);
        }
    }
}

#logo {
    margin-top: 20px;
}

.container-signup {
    height: fit-content;
    margin-top: 2%;

    .sign-block-1 {
        @media only screen and (max-width: $mobile) {
            display: none;
        }

        width: 100%;
        height: 100%;
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
        border: none;
        background-color: #5d7589;
        background-image: linear-gradient(0deg, #5d7589 50%, #f9a826 120%);
        color: white;

        display: grid;
        justify-items: center;
        align-content: center;
        h1 {
            padding-bottom: 50px;
            text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1);
            font-weight: 700;
            font-size: 3.5rem;
        }

        img {
            width: 50%;
        }

        p {
            font-size: 1.2rem;
            text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1);
        }
    }

    .sign-block-2 {
        height: 100%;
        padding: 20px 0px 20px 0px;

        @extend .grid-default;
        align-content: center;

        #logo {
            margin-bottom: 30px;
        }

        @media only screen and (max-width: $mobile) {
            grid-column: span 2;
            width: 100%;
        }

        form {
            @extend .grid-default;

            label {
                margin-top: 30px;
                padding-left: 17px;
                color: gray;
                font-size: 0.8rem;
            }

            p {
                width: 100%;
            }

            input {
                font-family: "Montserrat", sans-serif;
                font-size: 0.8rem;
            }

            #username {
                margin-top: 10px;
                height: 30px;
                width: 85%;
            }

            #email,
            #password,
            #password_confirmation {
                margin-top: 10px;
                height: 30px;
                width: 85%;
            }

            .btn-form-signup {
                background-color: $primary;
                margin-top: 20px;
                box-shadow: 0 0px 0.9px rgba(0, 0, 0, 0.13),
                    0 0px 7px rgba(0, 0, 0, 0.26);
                border: none;
                color: white;
                font-weight: 100;
            }
        }
    }
}

.container-reset {
    margin-top: 12%;
    width: 30%;
    height: fit-content;
    box-shadow: 0 0px 1.9px rgba(0, 0, 0, 0.085), 0 0px 15px rgba(0, 0, 0, 0.17);
    padding: 20px;
    border-radius: 30px;

    display: grid;
    place-items: center;

    @media only screen and (max-width: $mobile) {
        width: 80%;
        margin-top: 25%;
    }

    form {
        display: grid;
        place-items: center;

        width: 100%;

        section {
            p {
                display: grid;
            }

            label {
                margin-top: 15px;
                margin-bottom: 8px;
                padding-left: 10px;
                font-size: 0.8rem;
                color: gray;
            }

            input {
                height: 26px;
                width: max-content;
                font-size: 1rem;
            }

            .btn-reset {
                background-color: rgb(247, 19, 19);
                color: white;
            }
        }
    }
}
