nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;

    width: 100%;
    height: 12%;
    z-index: 1;
    position: fixed;
    background: $light;

    .logo {
        display: flex;
        align-items: center;
        font-size: 2.1rem;
        outline: none;

        img {
            width: 140px;
        }
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.6s ease-out;

        a:not(.btn) {
            margin-right: 20px;
            font-size: 1rem;
            width: fit-content;

            &::after {
                display: block;
                content: "";
                border-bottom: solid 3px $secondary;
                transform: scaleX(0);
                transition: transform 0.3s;
                transform-origin: 50%;
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }

    .icon-menu {
        display: none;
        cursor: pointer;

        .line {
            height: 3px;
            width: 30px;
            background-color: $dark;
            border-radius: 2px;
            margin: 5px;
            transition: all 0.6s ease-in-out;
        }
    }

    @media only screen and (max-width: 768px) {
        gap: 30%;
        z-index: 4;

        .nav-links {
            display: grid;
            grid-template-rows: repeat(auto-fill, 1fr);
            place-items: center;
            text-align: center;
            touch-action: none;

            background-color: rgba(0, 0, 0, 0.781);
            position: fixed;
            z-index: 9;
            top: 12%;
            left: 0;
            right: 0;
            height: 0%;
            overflow: hidden;

            a:not(.btn) {
                color: $light;
                font-size: 3rem;
                width: fit-content;
                margin: 0;

                &::after {
                    border-bottom: solid 3px white;
                }
            }

            .btn-login,
            .btn-logout {
                box-shadow: 0 0 0 1.5px $light;
                color: $light;
                font-weight: 100;

                .icon-person {
                    background-image: icon(person, white);
                }
            }
        }

        .icon-menu {
            display: block;
        }

        #nav-toggle:checked {
            ~ .icon-menu {
                :first-child {
                    position: fixed;
                    transform: rotate(45deg);
                }

                :nth-child(2) {
                    display: none;
                    transition: display 0.5s linear;
                }

                :last-child {
                    transform: rotate(-45deg);
                }
            }

            ~ .nav-links {
                height: 88%;
            }
        }
    }
}
