.grid-default,
footer,
.container-profile .profile-body .profile-details,
.container-profile .profile-body,
.container-profile .profile-nav,
.container-profile .profile-header,
.container-profile,
.container-store .container-store-item .store-item-book,
.container-store .container-store-item .store-item-column,
.container-store .container-store-item,
.container-store,
.container-modal .modal-body .modal-content .container-btn,
.container-modal .modal-body .modal-content form .container-container .container-input .validation,
.container-modal .modal-body .modal-content form .container-container,
.container-modal .modal-body .modal-content .container-steps .circle-1,
.container-modal .modal-body .modal-content .container-steps .circle-2,
.container-modal .modal-body .modal-content .container-steps .circle-3,
.container-modal .modal-body .modal-content .container-steps,
.container-modal .modal-body .modal-content,
.container-modal .modal-body,
.container-sign .sign-block-1 form {
  display: grid;
  justify-items: center;
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.link-disabled {
  color: gray;
  font-weight: 100;
}

.link-enabled {
  color: #5d7589;
  font-weight: 700;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px;
  border: none;
  margin: 10px;
  padding: 8px 20px 8px 20px;
  background-size: 200% auto;
  background-color: transparent;
  box-shadow: 0 0.6px 1.1px rgba(0, 0, 0, 0.075), 0 5px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 0.9rem;
}

.btn .icon {
  width: 25px;
  margin-right: 8px;
}

.input {
  height: 60%;
  padding-left: 14px;
  padding-right: 14px;
  width: 150px;
  border-radius: 60px;
  border: white solid;
  outline: none;
  box-shadow: 0 0px 1.5px -4px rgba(0, 0, 0, 0.12), 0 0px 12px -4px rgba(0, 0, 0, 0.24);
}

.input::-moz-placeholder {
  color: #b4b4b4;
}

.input:-ms-input-placeholder {
  color: #b4b4b4;
}

.input::placeholder {
  color: #b4b4b4;
}

.input:focus-visible {
  outline: none;
}

.input-dropdown {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 18px;
  background-color: white;
  color: #c7c7c7;
}

.dropdown {
  position: absolute;
  width: 96.8%;
  height: 0;
  top: 34px;
  background-color: white;
  box-shadow: 0 0px 1.5px -4px rgba(0, 0, 0, 0.12), 0 0px 12px -4px rgba(0, 0, 0, 0.24);
  -webkit-clip-path: inset(0 -5px -5px -5px);
          clip-path: inset(0 -5px -5px -5px);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 10;
  overflow-y: scroll;
  transition: 0.2s ease-out;
  display: grid;
  align-items: center;
  justify-items: center;
  /* Handle */
}

.dropdown::-webkit-scrollbar {
  width: 5px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.116);
  border-radius: 100px;
}

.dropdown .dropdown-item {
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 5px 0 5px 0;
}

.dropdown .dropdown-item:hover {
  color: white;
  background-color: #5d7589;
}

.btn-signup {
  border: none;
  color: white;
  background-image: linear-gradient(43deg, #5d7589 0%, #f9a826 65%, #5d7589 100%);
}

.btn-login,
.btn-logout {
  box-shadow: 0 0 0 1.5px #5d7589;
  color: #5d7589;
  font-weight: 700;
}

.border-red {
  border: 1px solid red;
}

.text-alert {
  color: red;
  font-size: 0.8rem;
}

.sm-icon,
.icon-search,
.icon-google,
.icon-facebook,
.icon-person,
.icon-person-add {
  width: 25px;
  height: 25px;
}

.icon-person-add {
  background-image: url('data:image/svg+xml;utf8,<svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="white" stroke="transparent" stroke-width="0" style="" d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>');
}

.icon-person {
  background-image: url('data:image/svg+xml;utf8,<svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="%235d7589" stroke="transparent" stroke-width="0" style="" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>');
}

.icon-facebook {
  background-size: 25px 25px;
  background-image: url('data:image/svg+xml;utf8,<svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="white" stroke="transparent" stroke-width="0" style="" d="M 35.050781,18 H 28 v -4 c 0,-2.0625 0.167969,-3.363281 3.125,-3.363281 h 3.738281 V 4.277344 C 33.042969,4.089844 31.214844,3.996094 29.386719,4 23.960938,4 20,7.3125 20,13.398438 V 18 h -6 v 8 l 6,-0.0039 V 44 h 8 V 25.992188 h 6.132812 z m 0,0"/></svg>');
}

.icon-google {
  background-size: 25px 25px;
  background-image: url('data:image/svg+xml;utf8,<svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="white" stroke="transparent" stroke-width="0" style="" d="m 25.089844,20.476562 v 7.644532 H 35.980469 C 34.554688,32.75 30.6875,36.0625 25.089844,36.0625 18.425781,36.0625 13.023438,30.660156 13.023438,24 c 0,-6.660156 5.402343,-12.0625 12.066406,-12.0625 2.996094,0 5.730468,1.097656 7.84375,2.90625 l 5.625,-5.628906 C 35.007812,5.976562 30.277344,4 25.089844,4 14.042969,4 5.085938,12.953125 5.085938,24 c 0,11.046875 8.957031,20 20.003906,20 16.792968,0 20.5,-15.699219 18.851562,-23.496094 z m 0,0"/></svg>');
}

.icon-search {
  background-size: 25px 25px;
  background-image: url('data:image/svg+xml;utf8,<svg width="25" height="25" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="%23c7c7c7" stroke="transparent" stroke-width="0" style="" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  cursor: pointer;
}

.icon-search:hover {
  background-image: url('data:image/svg+xml;utf8,<svg width="25" height="25" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(0, 0, 0, 0.712)" stroke="transparent" stroke-width="0" style="" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  border-radius: 5px;
}

.icon-exit {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="black" stroke="transparent" stroke-width="0" style="" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
  cursor: pointer;
}

.icon-expand {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="black" stroke="transparent" stroke-width="0" style="" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>');
}

.icon-edit {
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  background-image: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="%23c7c7c7" stroke="transparent" stroke-width="0" style="" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>');
  cursor: pointer;
}

nav {
  width: 100%;
  height: 12%;
  z-index: 1;
  position: fixed;
  background: white;
}

nav,
nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo {
  display: flex;
  align-items: center;
  width: 35%;
  height: 100%;
  font-size: 2.1rem;
  outline: none;
}

nav .logo img {
  width: 140px;
}

nav .nav-links {
  margin: 0;
  padding: 0;
  transition: 0.6s ease-out;
}

nav .nav-links a:not(.btn) {
  margin-right: 20px;
  font-size: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav .nav-links a:not(.btn)::after {
  display: block;
  content: "";
  border-bottom: solid 3px #5d7589;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: 50%;
}

nav .nav-links a:not(.btn):hover::after {
  transform: scaleX(1);
}

nav .icon-menu {
  display: none;
  position: absolute;
  right: 21%;
  cursor: pointer;
}

nav .icon-menu .line {
  height: 3px;
  width: 30px;
  background-color: black;
  border-radius: 2px;
  margin: 5px;
  transition: all 0.6s ease-in-out;
}

@media only screen and (max-width: 768px) {
  nav .logo {
    width: 70%;
  }

  nav .nav-links {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-items: center;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.534);
    position: fixed;
    z-index: 9;
    top: 12%;
    left: 0;
    right: 0;
    height: 0%;
    overflow: hidden;
  }

  nav .nav-links a:not(.btn) {
    color: white;
    font-size: 3rem;
    width: 100%;
    margin: 0;
  }

  nav .nav-links .btn-login,
  nav .nav-links .btn-logout {
    box-shadow: 0 0 0 1.5px white;
    color: white;
    font-weight: 100;
  }

  nav .nav-links .btn-login .icon-person,
  nav .nav-links .btn-logout .icon-person {
    background-image: url('data:image/svg+xml;utf8,<svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="white" stroke="transparent" stroke-width="0" style="" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>');
  }

  nav .icon-menu {
    display: block;
  }

  nav #nav-toggle:checked ~ .icon-menu :first-child {
    position: fixed;
    transform: rotate(45deg);
  }

  nav #nav-toggle:checked ~ .icon-menu :nth-child(2) {
    display: none;
    transition: display 0.5s linear;
  }

  nav #nav-toggle:checked ~ .icon-menu :last-child {
    transform: rotate(-45deg);
  }

  nav #nav-toggle:checked ~ .nav-links {
    height: 88%;
  }
}

.container-sign,
.container-signup {
  width: 60%;
  height: 500px;
  margin-top: 8%;
  background-color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0px 1.9px rgba(0, 0, 0, 0.085), 0 0px 15px rgba(0, 0, 0, 0.17);
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 559px) {
  .container-sign,
  .container-signup {
    width: 90%;
  }
}

.container-sign .sign-block-1 {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 559px) {
  .container-sign .sign-block-1 {
    grid-column: span 2;
  }
}

.container-sign .sign-block-1 #logo {
  margin-bottom: 40px;
}

.container-sign .sign-block-1 form div {
  margin-top: 25px;
  width: 100%;
}

.container-sign .sign-block-1 form label {
  padding-left: 20px;
  color: gray;
  font-size: 0.8rem;
}

.container-sign .sign-block-1 form #email {
  margin-top: 10px;
  height: 35px;
  width: 85%;
}

.container-sign .sign-block-1 form #password {
  margin-top: 10px;
  height: 35px;
  width: 85%;
}

.container-sign .sign-block-1 form #forgot-pass {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 20px;
}

.container-sign .sign-block-1 form #forgot-pass > a {
  color: gray;
}

.container-sign .sign-block-1 form .btn-form-login {
  background-color: #f9a826;
  box-shadow: 0 0px 0.9px rgba(0, 0, 0, 0.13), 0 0px 7px rgba(0, 0, 0, 0.26);
  border: none;
  color: white;
  font-weight: 100;
}

.container-sign .sign-block-2 {
  width: 100%;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border: none;
  height: inherit;
  background-color: #5d7589;
  background-image: linear-gradient(0deg, #5d7589 50%, #f9a826 120%);
  justify-items: center;
  color: white;
  display: grid;
  gap: 0;
}

@media only screen and (max-width: 559px) {
  .container-sign .sign-block-2 {
    display: none;
  }
}

.container-sign .sign-block-2 h1 {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 3.5rem;
}

.container-sign .sign-block-2 img {
  width: 50%;
}

.container-sign .sign-block-2 p {
  font-size: 1.2rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#logo {
  margin-top: 20px;
}

.container-signup {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 8%;
}

.container-signup .sign-block-1 {
  width: 100%;
  height: 100%;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border: none;
  background-color: #5d7589;
  background-image: linear-gradient(0deg, #5d7589 50%, #f9a826 120%);
  color: white;
  display: grid;
  justify-items: center;
  align-content: center;
}

@media only screen and (max-width: 559px) {
  .container-signup .sign-block-1 {
    display: none;
  }
}

.container-signup .sign-block-1 h1 {
  padding-bottom: 50px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 3.5rem;
}

.container-signup .sign-block-1 img {
  width: 50%;
}

.container-signup .sign-block-1 p {
  font-size: 1.2rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.container-signup .sign-block-2 {
  height: 100%;
  padding: 20px 0px 20px 0px;
  width: 100%;
}

.container-signup .sign-block-2 #logo {
  margin-bottom: 30px;
}

@media only screen and (max-width: 559px) {
  .container-signup .sign-block-2 {
    grid-column: span 2;
    width: 100%;
  }
}

.container-signup .sign-block-2 form {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.container-signup .sign-block-2 form label {
  margin-top: 20px;
  display: inline-block;
  padding-left: 17px;
  color: gray;
  font-size: 0.8rem;
}

.container-signup .sign-block-2 form div {
  margin-top: 10px;
  width: 100%;
}

.container-signup .sign-block-2 form div input {
  width: 250px;
}

.container-signup .sign-block-2 form #username,
.container-signup .sign-block-2 form #email,
.container-signup .sign-block-2 form #password,
.container-signup .sign-block-2 form #password_confirmation {
  height: 30px;
}

.container-signup .sign-block-2 form .btn-form-signup {
  background-color: #f9a826;
  margin-top: 20px;
  box-shadow: 0 0px 0.9px rgba(0, 0, 0, 0.13), 0 0px 7px rgba(0, 0, 0, 0.26);
  border: none;
  color: white;
  font-weight: 100;
}

.container-reset {
  margin-top: 12%;
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 0px 1.9px rgba(0, 0, 0, 0.085), 0 0px 15px rgba(0, 0, 0, 0.17);
  padding: 20px;
  border-radius: 30px;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 559px) {
  .container-reset {
    width: 80%;
    margin-top: 25%;
  }
}

.container-reset form {
  display: grid;
  place-items: center;
  width: 100%;
}

.container-reset form section p {
  display: grid;
}

.container-reset form section label {
  margin-top: 15px;
  margin-bottom: 8px;
  padding-left: 10px;
  font-size: 0.8rem;
  color: gray;
}

.container-reset form section input {
  height: 26px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
}

.container-reset form section .btn-reset {
  background-color: #f71313;
  color: white;
}

.container-modal {
  z-index: 2;
  position: fixed;
  width: 100%;
  overflow-y: visible;
  display: none;
  justify-items: center;
}

.container-modal .modal-body {
  width: 70%;
  background-color: white;
  border-radius: 30px;
  grid-template-rows: 0.09fr 1fr;
}

.container-modal .modal-body .modal-header {
  width: 100%;
  padding-top: 20px;
  display: grid;
  justify-items: end;
}

.container-modal .modal-body .modal-header .icon-exit {
  margin-right: 7%;
}

.container-modal .modal-body .modal-content {
  width: 100%;
  overflow-x: hidden;
  grid-template-rows: 0.1fr 1fr;
}

.container-modal .modal-body .modal-content .container-steps {
  align-items: center;
  grid-template-columns: 0.5fr 25px 0.5fr 25px 0.5fr;
}

.container-modal .modal-body .modal-content .container-steps .circle-1,
.container-modal .modal-body .modal-content .container-steps .circle-2,
.container-modal .modal-body .modal-content .container-steps .circle-3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5d7589;
  color: white;
  font-weight: 700;
  z-index: 1;
  align-items: center;
}

.container-modal .modal-body .modal-content .container-steps .circle-divider {
  width: 30px;
  border: 1px dashed #bdbdbd;
}

.container-modal .modal-body .modal-content form {
  width: 300%;
  padding: 20px 0px 20px 0px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
}

.container-modal .modal-body .modal-content form .container-container {
  width: 100%;
  position: relative;
  left: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .container-modal .modal-body .modal-content form .container-container {
    grid-template-columns: 1fr;
  }
}

.container-modal .modal-body .modal-content form .container-container .container-input {
  display: grid;
  row-gap: 20px;
  width: 75%;
}

.container-modal .modal-body .modal-content form .container-container .container-input .validation {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-modal .modal-body .modal-content form .container-container .container-input .validation div {
  text-align: center;
}

.container-modal .modal-body .modal-content form .container-container .container-input .btn-book-now {
  border: none;
  background-color: #f9a826;
  color: white;
  font-size: 1.5rem;
}

.container-modal .modal-body .modal-content form .container-container .container-input label {
  margin-left: 4%;
  font-size: 0.8rem;
  justify-self: start;
}

.container-modal .modal-body .modal-content form .container-container .container-input .input {
  margin-top: 10px;
  width: 89.5%;
  height: 30px;
}

.container-modal .modal-body .modal-content form .container-container .container-input .input::-moz-placeholder {
  color: #c7c7c7;
}

.container-modal .modal-body .modal-content form .container-container .container-input .input:-ms-input-placeholder {
  color: #c7c7c7;
}

.container-modal .modal-body .modal-content form .container-container .container-input .input::placeholder {
  color: #c7c7c7;
}

.container-modal .modal-body .modal-content form .container-container .container-input .input-2 {
  width: 95.1%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.container-modal .modal-body .modal-content form .container-container .container-input .input-2 .label-dropdown {
  margin-left: 5.5%;
}

.container-modal .modal-body .modal-content form .container-container .container-input .input-2 .input {
  width: 80%;
}

.container-modal .modal-body .modal-content form .container-container .container-input .card-info {
  grid-template-columns: 50% 50%;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.container-modal .modal-body .modal-content form .container-container .container-input .card-info .input {
  width: 85%;
}

.container-modal .modal-body .modal-content form .container-container .container-input .container-date-DB,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-PI {
  display: grid;
  grid-template-columns: 0.19fr 0.5fr 0.21fr;
  width: 100%;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.container-modal .modal-body .modal-content form .container-container .container-input .container-date-DB .input-day-DB,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-DB .input-day-PI,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-PI .input-day-DB,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-PI .input-day-PI {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.container-modal .modal-body .modal-content form .container-container .container-input .container-date-DB .input-month-DB,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-DB .input-month-PI,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-PI .input-month-DB,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-PI .input-month-PI {
  border-radius: 0px;
  -webkit-clip-path: inset(-5px 0 -5px 0);
          clip-path: inset(-5px 0 -5px 0);
  width: 100%;
  height: 32px;
}

.container-modal .modal-body .modal-content form .container-container .container-input .container-date-DB .input-year-DB,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-DB .input-year-PI,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-PI .input-year-DB,
.container-modal .modal-body .modal-content form .container-container .container-input .container-date-PI .input-year-PI {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.container-modal .modal-body .modal-content form .container-container .cards {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container-modal .modal-body .modal-content form .container-container .cards a {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container-modal .modal-body .modal-content form .container-container .cards a:focus-visible ~ img {
  outline: 2px solid #f9a826;
  height: 100px;
}

.container-modal .modal-body .modal-content form .container-container .cards a img {
  height: 55px;
  border-radius: 10px;
  box-shadow: 0 0px 14px rgba(0, 0, 0, 0.2);
}

.container-modal .modal-body .modal-content form .container-container:first-child .container-input {
  grid-column: span 2;
}

.container-modal .modal-body .modal-content .container-btn {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.container-modal .modal-body .modal-content .container-btn .btn-next,
.container-modal .modal-body .modal-content .container-btn .btn-back {
  border: none;
  background-color: #5d7589;
  color: white;
}

.store-search {
  width: 40%;
  height: 50px;
  margin-top: 150px;
  padding: 0 30px 0 30px;
  background-color: white;
  box-shadow: 0 0px 2.8px rgba(0, 0, 0, 0.11), 0 0px 22px rgba(0, 0, 0, 0.22);
  border-radius: 40px;
  display: grid;
  align-items: center;
  gap: 0;
  grid-template-columns: 1fr 50px;
}

.store-search input {
  padding-left: 30px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: none;
  outline: none;
}

#nav-toggle,
#nationality-toggle,
#gender-toggle,
#DB-month-toggle,
#PI-month-toggle,
#expmonth-toggle,
#expyear-toggle {
  position: absolute;
  visibility: hidden;
}

.container-store {
  width: 75%;
  height: 580px;
  margin-top: 40px;
  overflow-y: scroll;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 10px;
  /* Handle */
}

.container-store::-webkit-scrollbar {
  width: 5px;
}

.container-store::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
  border-radius: 100px;
}

@media only screen and (max-width: 559px) {
  .container-store {
    width: 90%;
  }
}

.container-store .container-store-item {
  width: 95%;
  height: 100%;
  background-color: white;
  border-radius: 40px;
  grid-template-columns: 1fr 0.3fr;
  align-items: center;
}

@media only screen and (max-width: 559px) {
  .container-store .container-store-item {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.container-store .container-store-item .store-item-column {
  width: 100%;
  align-items: center;
  grid-template-columns: 0.5fr 0.1fr 0.5fr 0.5fr;
}

.container-store .container-store-item .store-item-column img {
  width: 100px;
  height: 20px;
}

.container-store .container-store-item .store-item-column div {
  text-align: center;
}

.container-store .container-store-item .store-item-book {
  width: 100%;
  height: 100%;
  border-left: 1px dashed #c7c7c7;
  align-items: center;
}

.container-store .container-store-item .store-item-book .btn-book {
  color: white;
  background-color: #5d7589;
  border: none;
}

@media only screen and (max-width: 559px) {
  .container-store .container-store-item .store-item-book {
    border-left: none;
    border-top: 1px dashed #c7c7c7;
  }
}

#nationality-toggle:checked ~ label[for=nationality-toggle] .dropdown,
#nationality-toggle:checked ~ label[for=gender-toggle] .dropdown,
#nationality-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#nationality-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#nationality-toggle:checked ~ label[for=expmonth-toggle] .dropdown,
#nationality-toggle:checked ~ label[for=expyear-toggle] .dropdown,
#gender-toggle:checked ~ label[for=nationality-toggle] .dropdown,
#gender-toggle:checked ~ label[for=gender-toggle] .dropdown,
#gender-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#gender-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#gender-toggle:checked ~ label[for=expmonth-toggle] .dropdown,
#gender-toggle:checked ~ label[for=expyear-toggle] .dropdown,
#DB-month-toggle:checked ~ label[for=nationality-toggle] .dropdown,
#DB-month-toggle:checked ~ label[for=gender-toggle] .dropdown,
#DB-month-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#DB-month-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#DB-month-toggle:checked ~ label[for=expmonth-toggle] .dropdown,
#DB-month-toggle:checked ~ label[for=expyear-toggle] .dropdown,
#PI-month-toggle:checked ~ label[for=nationality-toggle] .dropdown,
#PI-month-toggle:checked ~ label[for=gender-toggle] .dropdown,
#PI-month-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#PI-month-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#PI-month-toggle:checked ~ label[for=expmonth-toggle] .dropdown,
#PI-month-toggle:checked ~ label[for=expyear-toggle] .dropdown,
#expmonth-toggle:checked ~ label[for=nationality-toggle] .dropdown,
#expmonth-toggle:checked ~ label[for=gender-toggle] .dropdown,
#expmonth-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#expmonth-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#expmonth-toggle:checked ~ label[for=expmonth-toggle] .dropdown,
#expmonth-toggle:checked ~ label[for=expyear-toggle] .dropdown,
#expyear-toggle:checked ~ label[for=nationality-toggle] .dropdown,
#expyear-toggle:checked ~ label[for=gender-toggle] .dropdown,
#expyear-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#expyear-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#expyear-toggle:checked ~ label[for=expmonth-toggle] .dropdown,
#expyear-toggle:checked ~ label[for=expyear-toggle] .dropdown {
  height: 70px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#nationality-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#nationality-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#gender-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#gender-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#DB-month-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#DB-month-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#PI-month-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#PI-month-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#expmonth-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#expmonth-toggle:checked ~ label[for=PI-month-toggle] .dropdown,
#expyear-toggle:checked ~ label[for=DB-month-toggle] .dropdown,
#expyear-toggle:checked ~ label[for=PI-month-toggle] .dropdown {
  height: 100px;
}

label[for=nationality-toggle],
label[for=gender-toggle],
label[for=DB-month-toggle],
label[for=PI-month-toggle],
label[for=expmonth-toggle],
label[for=expyear-toggle] {
  position: relative;
  display: grid;
  right: 8px;
}

label[for=nationality-toggle] .dropdown {
  width: 93%;
}

label[for=gender-toggle] {
  right: 4px;
}

label[for=gender-toggle] .dropdown {
  width: 110%;
}

label[for=DB-month-toggle],
label[for=PI-month-toggle] {
  right: 6px;
}

label[for=DB-month-toggle] .dropdown,
label[for=PI-month-toggle] .dropdown {
  width: 123%;
}

label[for=expmonth-toggle] .dropdown,
label[for=expyear-toggle] .dropdown {
  width: 103%;
}

.container-profile {
  width: 50%;
  padding: 40px 0px 40px 0px;
  background-color: white;
  border-radius: 30px;
  margin-top: 140px;
  overflow: hidden;
  box-shadow: 0 0px 2.4px rgba(0, 0, 0, 0.07), 0 0px 19px rgba(0, 0, 0, 0.14);
}

@media only screen and (max-width: 559px) {
  .container-profile {
    width: 70%;
  }
}

.container-profile .profile-header img {
  width: 80px;
}

.container-profile .profile-header p.username {
  font-size: 3rem;
  border-radius: 30px;
  text-align: center;
}

.container-profile .profile-nav {
  grid-template-columns: 0.5fr 0.5fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.container-profile .profile-nav .btn {
  box-shadow: none;
  margin: 0px;
  background-color: white;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.322);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.container-profile .profile-nav .btn:first-of-type {
  z-index: 2;
}

.container-profile .profile-nav .btn:last-of-type {
  color: gray;
}

.container-profile .profile-body {
  width: 100%;
  box-shadow: 0 -5px 10px -5px rgba(51, 51, 51, 0.24);
  z-index: 1;
  align-content: center;
}

.container-profile .profile-body .profile-details {
  width: 65%;
  margin-top: 40px;
  row-gap: 30px;
  -moz-column-gap: 70px;
       column-gap: 70px;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 559px) {
  .container-profile .profile-body .profile-details {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.container-profile .profile-body .profile-details .body-inputs {
  display: grid;
}

.container-profile .profile-body .profile-details .body-inputs label {
  font-weight: bold;
  font-size: 0.8rem;
}

.container-profile .profile-body .profile-details .body-inputs > div {
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-profile .profile-body .profile-details .body-inputs > div label {
  padding-right: 15px;
}

.container-profile .profile-body .profile-details .body-inputs input {
  border-bottom: 1px solid rgba(128, 128, 128, 0.219);
  height: 20px;
  padding: 4px 14px 4px 14px;
  box-shadow: none;
}

.container-profile .profile-body .profile-purchases {
  height: 280px;
  width: 70%;
  margin-top: 40px;
  border-collapse: collapse;
  overflow: auto;
  display: none;
  justify-content: center;
  /* Handle */
}

.container-profile .profile-body .profile-purchases::-webkit-scrollbar {
  width: 7px;
}

.container-profile .profile-body .profile-purchases::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.116);
  border-radius: 100px;
}

.container-profile .profile-body .profile-purchases table {
  border-collapse: collapse;
}

.container-profile .profile-body .profile-purchases table th {
  background-color: #5d7589;
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  position: -webkit-sticky;
  position: sticky;
}

.container-profile .profile-body .profile-purchases table th:first-of-type {
  border-top-left-radius: 15px;
}

.container-profile .profile-body .profile-purchases table th:last-of-type {
  border-top-right-radius: 15px;
}

.container-profile .profile-body .profile-purchases table tr {
  border-top: 1px solid #c7c7c7;
}

.container-profile .profile-body .profile-purchases table tr:first-of-type,
.container-profile .profile-body .profile-purchases table tr:nth-of-type(2) {
  border: none;
}

.container-profile .profile-body .profile-purchases table th,
.container-profile .profile-body .profile-purchases table td {
  padding: 15px;
  text-align: center;
}

footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 100px;
  background-color: white;
  align-self: end;
  grid-template-columns: 30% 15% 25% 30%;
  grid-template-rows: 220px 100px;
}

footer > div {
  margin-top: 30px;
}

footer img {
  width: 250px;
  margin-top: 50px;
}

footer div:nth-child(2) a,
footer div:nth-child(3) a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 12px;
  display: grid;
}

footer div:nth-child(2) a:after,
footer div:nth-child(3) a:after {
  content: "";
  width: 0;
  height: 1.5px;
  background: #000;
  transition: width 0.3s;
}

footer div:nth-child(2) a:hover::after,
footer div:nth-child(3) a:hover::after {
  width: 100%;
}

footer div:nth-child(4) {
  height: 50%;
  display: grid;
  align-items: left;
  gap: 0;
  grid-template-columns: 75%;
}

footer div:nth-child(4) p {
  margin-top: 0px;
  font-size: 0.8rem;
  line-height: 20px;
}

footer div:nth-child(4) form {
  text-align: justify;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

footer div:nth-child(4) form .btn-footer-signup {
  border: #5d7589 solid;
  background-color: #5d7589;
  color: white;
}

footer div:last-child {
  grid-column: span 4;
  border-top: 1px solid #afafaf;
  width: 75%;
  padding-top: 25px;
  text-align: center;
  color: gray;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  footer {
    margin-top: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.2fr 0.5fr 0.5fr 0.4fr;
  }

  footer div:nth-child(2) a,
  footer div:nth-child(3) a {
    width: 100%;
    text-align: center;
  }

  footer div:nth-child(4) {
    justify-items: center;
    text-align: justify;
    grid-template-columns: none;
    margin: 25px 20% 25px 20%;
  }

  footer div:nth-child(4) form {
    justify-items: center;
    width: 70%;
  }

  footer div:last-child {
    grid-column: span 1;
    margin-top: 4px;
  }
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 3px solid #f9a826;
}

a {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

.circle-change {
  background-color: #f9a826;
}

body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #5d7589;
  background-image: linear-gradient(0deg, #5d7589 50%, #f9a826 100%);
  display: grid;
}

.main-body {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.container-bg {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  display: none;
}

/* hello*/

