$primary: #f9a826;
$secondary: #5d7589;
$light: white;
$dark: black;
$disabled: rgb(199, 199, 199);
$mobile-wide: 768px;
$mobile: 559px;
$desktop: 1200px;

.grid-default {
    display: grid;
    justify-items: center;
}

//@import "base/reset";
@import "components/buttons";
@import "functions";
@import "components/icons";
@import "components/navigation";
@import "layout/auth";
@import "components/modals";
@import "layout/store";
@import "layout/profile";
@import "layout/footer";

*:focus {
    outline: none;
}

*:focus-visible {
    outline: 3px solid $primary;
}

a {
    list-style-type: none;
    color: $dark;
    text-decoration: none;
}

.circle-change {
    background-color: $primary;
}

body {
    width: 100%;
    height: fit-content;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #5d7589;
    background-image: linear-gradient(0deg, #5d7589 50%, #f9a826 100%);

    display: grid;
}

.main-body {
    height: 100%;
    width: 100%;

    @extend .grid-default;
}

.container-bg {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    display: none;
}
